@import '../styles/globals_query.scss';

.container_content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.container_img_right {
  background: rgb(206, 77, 164);
  background: linear-gradient(
    90deg,
    rgba(206, 77, 164, 1) 0%,
    rgba(109, 87, 255, 1) 100%
  );
  overflow: hidden;
  border-radius: 24px;
  img {
    left: 60px !important;
  }
}
.container_img_left {
  background: rgb(206, 77, 164);
  background: linear-gradient(
    270deg,
    rgba(206, 77, 164, 1) 0%,
    rgba(109, 87, 255, 1) 100%
  );
  border-radius: 24px;
  justify-content: center;
  display: flex;
}

.subscribe_container {
  margin-top: 20px;
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  gap: 14px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px 5px #6d57ff, 0px 0px 15px 5px #ce4da4;
  box-shadow: 0px 0px 15px 5px #6d57ff, 0px 0px 15px 5px #ce4da4;
  p {
    font-size: 28px;
    font-weight: 600;
    max-width: 50%;
  }
  div {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: $max-mobile-screen) {
  .container_img_right,
  .container_img_left {
    display: none;
  }
  .subscribe_container {
    padding: 14px;
    gap: 10px;
    p {
      font-size: 14px;
      font-weight: 500;
    }
    div {
      flex-direction: column;
      gap: 12px;
    }
  }
}
