@import '../styles/globals_query.scss';

.bg {
  width: 270px;
  min-height: 190px;
  background-color: var(--gray-dark);
  padding: 24px;
  border-radius: 26px;
}
.col {
  flex-direction: column;
  .title {
    margin-top: 12px;
    margin-bottom: 6px;
  }
}
.container {
  display: flex;
  gap: 12px;
}
.title {
  font-weight: 500;
}
.description {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
}

@media (max-width: $max-tablet-screen) {
  .container {
    width: 250px;
    min-height: 160px;
  }
}
