@import '../styles/globals_query.scss';

.left {
  grid-template-columns: 40% 60%;
}
.right {
  grid-template-columns: 60% 40%;
}
.container {
  display: grid;
  gap: 24px;
}
.title {
  font-weight: 700;
  font-size: 24px;
}
.description {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 20px;
}
.container__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: $max-mobile-screen) {
  .container {
    display: flex;
    gap: 0;
  }
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 12px;
  }
}
