@import '../styles/globals_query.scss';

.container {
  width: 270px;
  min-height: 190px;
  background-color: var(--gray-dark);
  padding: 24px;
  border-radius: 26px;
  img {
    height: 38px;
    width: 38px;
    padding: 12px;
    background-color: var(--gray-light);
    border-radius: 18px;
  }
}
.title {
  font-weight: 500;
  margin: 8px 0;
}
.description {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.4;
}

@media (max-width: $max-tablet-screen) {
  .container {
    width: 250px;
    min-height: 160px;
    img {
      height: 30px;
      width: 30px;
    }
  }
}
