:root {
  --purple: #6d57ff;
  --pink: #ce4da4;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins', sans-serif;
  color: white;
}
