@import '../styles/globals_query.scss';

.title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin: 72px 0;
}
.container {
  margin-bottom: 150px;
}

@media (max-width: $max-mobile-screen) {
  .container {
    display: none;
  }
  .title {
    font-size: 24px;
  }
}
