.container {
  display: flex;
  justify-content: center;
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.btn__container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 36px 0;
}
