@import '../styles/globals_query.scss';

.container {
  display: grid;
  gap: 24px;
  grid-template-columns: 40% 60%;
  h2 {
    margin: 0;
  }
  span {
    font-weight: 300;
    opacity: 0.6;
    font-size: 15px;
  }
  button {
    margin-top: 42px;
  }
  .left_content {
    display: flex;
    flex-direction: column;
  }
  .right_content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: $max-tablet-screen) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
